fastapi
uvicorn

streamlit

pandas

langchain
langchain-community
langchain-anthropic
langchain-text-splitters

sentence-transformers
langchain-huggingface

anthropic

faiss-cpu

python-dotenv

pydantic
httpx

sqlalchemy
psycopg2-binary